// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn__mensaje {
    background-color: #93DDE6;
    color: white;
    border-radius: 3px;
}

.btn__follow {
    background-color: #EF6461;
    color: white;
    border-radius: 3px;
}