.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.superindice {
    font-size: 0.5rem;
    display: inline-block;
    position: absolute;
}

.logo {
    display: inline-block;
}

.contenedor_logo {
    flex-direction: row;
}

li {
    padding-left: 25px;
}